html{
  height:100%;
}

body{
  position:relative;
  height: 100%;
}

.clearfix:after {
  content:"";
  display: block;
  clear: both;
}

p{
  display:inline-block;
  text-align: center;
}

.user_profile{
  width:100%;
  height:250px;
}

.login_user_icon{
  float: left;
    width:25%;
}

.login_user_comment{
  float:left;
  width:75%;
  height:100px;
}

.login_user_name{

}

.picture_field{
  display: table;
}

.picture_field p{
  height:50px;
  vertical-align: middle;
}

.contain{
  text-align: center;
  padding-bottom: 50px;
  position:relative;
  min-height: 100%;
}

footer{
  float: left;
  width:100%;
  height: 50px;
  position:absolute;
  bottom: 0;
  background-color: #d5d5d5;
  margin-top:20px;
  margin:0;
  text-align: center;
}
